//- header.l-header
//-   .l-header__logo-mask
//-     img(src="img/logo/logo.svg", alt="大港開唱 Logo")
//-   nav.c-nav
//-     ul.c-nav__btn-box
//-       li.c-nav__btn-wrap
//-         a.c-nav__btn(href="##") 演出陣容
//-         a.c-nav__btn(href="##") 最新消息
//-         a.c-nav__btn(href="##") 關於大港
//-         a.c-nav__btn(href="##") 節目表
//-         a.c-nav__btn(href="##") 購票資訊
//-         a.c-nav__btn(href="##") 地圖導覽
      nav.c-nav
    .c-nav__menu
      ul.c-nav__btn-box
        li.c-nav__btn-wrap
          a.c-nav__btn(href="##")
            span LINEUP
            span 演出陣容
          a.c-nav__btn(href="##")
            span NEWS
            span 最新消息
          a.c-nav__btn(href="##")
            span ABOUT
            span 關於大港
          a.c-nav__btn(href="##")
            span TIMETABLE
            span 節目表
          a.c-nav__btn(href="##")
            span TICKET
            span 購票資訊
          a.c-nav__btn(href="##")
            span MAP
            span 地圖導覽

      ul.c-nav__btn-box.--icon
        li.c-nav__btn-wrap
          a.c-nav__btn(href="##")
            iconify-icon(icon="mingcute:facebook-fill")
header.l-header
  .l-header__menu
    nav.c-nav 
      ul.c-nav_btn-box
        li.c-nav_btn-wrap 
          a.c-nav_btn(href="##")  ABOUT
        li.c-nav_btn-wrap 
          a.c-nav_btn(href="##")  PROJECTS
        li.c-nav_btn-wrap 
          a.c-nav_btn(href="##")  SERVICE
        li.c-nav_btn-wrap 
          a.c-nav_btn(href="##")  CONTACT

    .l-header_logo-mask(href=basePath)
      img(src="img/logo/zowie-logo_1x.png", alt="zowie logo")

    //- .l-hero__bg-mask
    //-   img.u-object-fit(src="img/banner/banner-img01.jpg", alt="大港開唱 hero 圖片")
    //-     h1.l-hero__slogan 這是 HERO 文字
    
    //- ul.c-nav__btn-box.--icon
    //-   li.c-nav__btn-wrap
    //-     a.c-nav__btn(href="##")
    //-       iconify-icon.u-icon.--md(icon="mingcute:facebook-fill")
    //-   li.c-nav__btn-wrap
    //-     a.c-nav__btn(href="##")
    //-       iconify-icon.u-icon.--md(icon="mingcute:ins-fill")
    //-   li.c-nav__btn-wrap
    //-     a.c-nav__btn(href="##")
    //-       iconify-icon.u-icon.--md(icon="mingcute:youtube-fill")   