
-
  const baseUrl = 'https://zowie0021.github.io';
  //- const basePath = '/dist';
  const basePath = '/ZOWIE-PoRtFolio';


  const siteName = 'ZOWIE PoRtFolio 平面作品收錄';
  let path = '';
  let pageTitle = '';
  let infoTitle = '個人作品網站，分享與改變世界';
  let description = '赫綵設計學院網頁前端設計實務整合應用，建立開發環境並實作完整互動式網站。';
  let ogImage = 'img/og/og.jpg';

  //- ZOWIE PoRtFolio 左一平面作品收錄 | 個人作品網站，分享與改變世界")
